/* The CSS template is adapted from Garrick Aden-Buie's template (https://github.com/gadenbuie/gentle-ggplot2) */

@import url("https://fonts.googleapis.com/css?family=Lato:700");
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=JetBrains+Mono&family=Roboto+Condensed:wght@300&display=swap');

body {
  /* font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif; */
  font-size: 1.1em;
  font-family: 'Roboto Condensed', sans-serif;
}

img {
  max-height: 525px;
}

strong {
  color: #23373B;
  font-weight: 500;
}

.title-slide {
  background-image: url(images/hex-ggstatsplot.png);
  background-size: 15%;
  background-position: 60% 90%;
}

.footnote {
    position: absolute;
    bottom: 1em;
    padding-right: 4em;
    font-size: 70%;
}

.remark-slide-content {
  font-size: 25px;
}

.remark-code {
  font-size: 0.8em;
}

.remark-code, .remark-inline-code {
  /* font-family: 'JetBrainsMono-Regular'; */
 /*  font-family: 'JetBrains Mono', monospace;  */
  font-family: "Fira Code", monospace;
  font-size: 0.7em;
}

.left-column h3 {
    line-height: 1;
}

.left-column h3:last-of-type{
  color: #000;
  width: 50%;
  height: 80%;
}

.right-column {
  padding-top: 0;
}

.bottom-column {
  padding-top: 20;
}

.hl {
  /* color: #d16666;
  color: #ff3e41; */
  color: #d14;
  font-weight: 400;
}

.hlb {
  /* color: #d16666;
  color: #ff3e41; */
  color: #d14;
}

.left-code {
  color: #777;
  width: 35%;
  height: 92%;
  float: left;
}

.right-plot {
  width: 62%;
  float: right;
  /* border-left: solid 1px #272822; */
  padding-left: 1%;
}

.huge {
  font-size: 2em;
}


.fullscreen {
  background-color: #FAFAFA;
  border-top: none;
  background-position: center;
  background-size: cover;
}

.fullscreen .remark-slide-number {
  display: none;
}

.inverse .remark-slide-number {
  display: none;
}

.text-white {
  color: #FFF;
}

.text-black {
  color: #000;
}

.img-right{
  height: 300px;
  width: 300px;
  top: 34%;
  left: 65%;
  position: absolute;
}

.img-right img {
  width: 100%;
}

.img-center{
  height: 800px;
  width: 800px;
  top: 15%;
  left: 15%;
  position: absolute;
}

.img-center img {
  width: 100%;
  height: 100%;
}

.img-center-small{
  height: 450px;
  width: 400px;
  top: 40%;
  left: 35%;
  position: absolute;
}

.img-center-small img {
  width: 100%;
  height: 100%;
}

.img-right-small{
  height: 300px;
  width: 300px;
  top: 62%;
  left: 65%;
  position: absolute;
}

.img-left-small img {
  width: 100%;
  height: 100%;
}

.img-left-small{
  height: 300px;
  width: 300px;
  top: 62%;
  left: 5%;
  position: absolute;
}

.plot-callout {
  height: 300px;
  width: 600px;
  bottom: 10%;
  right: 5%;
  position: absolute;
  padding: 0px;
}

.plot-callout img {
  width: 100%;
  border: 4px solid #23373B;
}

.top-right {
  top: 10%;
  right: 5%;
}
